<script>
$(document).ready(
  function(){
    setInterval(function(){
      $.getJSON('<%= "#{chamada_mensagem_url}.json"  %>', 
        function(data) {
		  $('<b>' + data.remetente + ':</b> ' + data.conteudo + '<br>').appendTo("#mensagens");
		  $("#mensagens_scroll").scrollTop($("#mensagens_scroll")[0].scrollHeight);
		});	
    }, 3000);
  });
  
$(document).ready(function() {
	$("textarea#conteudo").focus();
	$("textarea#conteudo").select();
});
  
$(function() {
  $(".button").click(function() {
    var conteudo = $("textarea#conteudo").val();
    if(conteudo == "") {
      return false;
    }
    $('<b>Eu:</b> ' + conteudo + '<br>').appendTo("#mensagens");
    $("textarea#conteudo").val('');
    $(".button").hide();
    $("#mensagens_scroll").scrollTop($("#mensagens_scroll")[0].scrollHeight);
    
    $.ajax({
      type: "POST",
      url: "<%= chamada_enviarMensagem_url %>",
      data: conteudo,
      success: function() {
        ;
      }
    });
    
    return false
    
  });
});

$(function() {
	$("textarea#conteudo").keyup(function() {
			var conteudo = $("textarea#conteudo").val();
			if(conteudo == "") {
				$(".button").hide();
			}
			else {
				$(".button").show();
			}
	});
});

</script>

<% if atendente? || medico? -%>
  <%= link_to "Encerra chamada", encerrar_chamada_path(current_pessoa), :confirm => "Deseja realmente encerrar a chamada?" %>
<% end -%>

<% if medico? -%>
  | <%= link_to "Visualizar prontuário", { :controller => "show_prontuario", :action => "show", :id => @paciente.id }, :target => "_blank" %>
<% elsif atendente? -%>
  | <%= link_to "Redirecionar paciente para consulta virtual", redirecionar_chamada_path(current_pessoa) %>
  | <%= link_to "Enviar veículo de emergência", chamada_path(current_pessoa), :target => "_blank" %>
<% end -%>

<h1> Mensagens </h1>

<div id="mensagens_scroll" style="width:600px;
 height:300px;
 background-color:#C2C2C2;
 overflow:auto;">
  <div id="mensagens">
  </div>
</div>


<div id="enviar_mensagem">
  <form name="texto" action="">
    <!-- <input type="text" size="90" name="conteudo" id="conteudo" value="" /> -->
    <textarea rows="5" cols="70" style="width: 600px;" name="conteudo" id="conteudo">Digite sua mensagem aqui</textarea>
    <input type="submit" class="button" id="botao_enviar" value="Enviar" />
  </form>
</div>

