<script>
$(document).ready(
  function(){
    setInterval(function(){
      $.getJSON('<%= "#{chamada_mensagem_url}.json"  %>', 
        function(data) {
	      if(data.redirect) {
            window.location.href = data.redirect;
          }
          else {
		    $('<b>' + data.remetente + ':</b> ' + data.conteudo + '<br>').appendTo("#mensagens");
		    $("#mensagens_scroll").scrollTop($("#mensagens_scroll")[0].scrollHeight);
		  }
		});	
    }, 1000);
  });
  
$(document).ready(function() {
	$("textarea#conteudo").focus();
	$("textarea#conteudo").select();
});
  
$(function() {
  $("input#botao_enviar").click(function() {
    var conteudo = $("textarea#conteudo").val();
    if(conteudo == "") {
      return false;
    }
    $('<b>Eu:</b> ' + conteudo + '<br><br>').appendTo("#mensagens");
    $("textarea#conteudo").val('');
    $("input#botao_enviar").hide();
    $("#mensagens_scroll").scrollTop($("#mensagens_scroll")[0].scrollHeight);
    
    $.ajax({
      type: "POST",
      url: "<%= chamada_enviarMensagem_url %>",
      data: conteudo,
      success: function() {
        ;
      }
    });
    
    return false
    
  });
});

$(function() {
	$("textarea#conteudo").keyup(function() {
			var conteudo = $("textarea#conteudo").val();
			if(conteudo == "") {
				$("input#botao_enviar").hide();
			}
			else {
				$("input#botao_enviar").show();
			}
	});
});

</script>

<% if atendente? -%>
<script>
$(function() {
  $("input#botao_redirecionar").click(function() {
	
	$("input#botao_redirecionar").attr("disabled", "disabled");
	
    $.ajax({
      type: "GET",
      url: "<%= redirecionar_chamada_url %>",
      success: function() {
        alert("Paciente encaminhado para a consulta virtual!");
      }
    });
    
    return false
    
  });
});
</script>
<% end -%>

<% if atendente? || medico? -%>
  <%= button_to "Encerra chamada", encerrar_chamada_path(current_pessoa), :confirm => "Deseja realmente encerrar a chamada?" %>
<% end -%>

<% if medico? -%>
   
<% elsif atendente? -%>
   <input type="submit" class="button" id="botao_redirecionar" value="Redirecionar paciente para consulta virtual" />
   <%= button_to "Enviar veículo de emergência", chamada_path(current_pessoa), :target => "_blank" %>
<% end -%>

<h1> Mensagens </h1>

<div id="mensagens_scroll" style="width:600px;
 height:300px;
 background-color:#C2C2C2;
 overflow:auto;">
  <div id="mensagens">
  </div>
</div>


<div id="enviar_mensagem">
  <form name="texto" action="">
    <!-- <input type="text" size="90" name="conteudo" id="conteudo" value="" /> -->
    <textarea rows="5" cols="70" style="width: 600px;" name="conteudo" id="conteudo">Digite sua mensagem aqui</textarea>
    <input type="submit" class="button" id="botao_enviar" value="Enviar" />
  </form>
</div>

