<p id="notice"><%= notice %></p>

<h2>Informacoes sobre o paciente</h2>

<p>
  <b>ID:</b>
  <%= @paciente.id %>
</p>

<p>
  <b>Nome:</b>
  <%= @paciente.nome %>
</p>

<p>
  <b>CPF:</b>
  <%= @paciente.CPF %>
</p>

<p>
  <b>Endereco:</b>
  <%= @paciente.endereco %>
</p>

<p>
  <b>Email:</b>
  <%= @paciente.email %>
</p>

<%= link_to 'Editar', edit_paciente_path(@paciente) %> |
<%= link_to 'Nova pesquisa', :controller => 'pesquisa', :method => 'index' %>
