<h1>Pesquisa de pacientes</h1>

	<%= render :partial => "search" %>

<% if @pacientes.empty? %>
	<i>Nenhum paciente encontrado.</i>
<% else %>
  <table>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th></th>
      <th></th>
    </tr>

  <% @pacientes.sort_by(&:id).each do |paciente| %>
    <tr>
      <td><%= paciente.id %></td>
      <td><%= paciente.nome%></td>
      <td><%= link_to 'Selecionar', new_paciente_registro_de_emergencium_path(paciente) %></td>
      <td><%= link_to 'Mostrar', paciente %></td>
    </tr>
  <% end %>
<% end %>

  </table>
<br/>
</div>
