<h1>Prontuário</h1>
  <p>
    <b>Data</b>
    <%= @prontuario.data %>
  </p>
  <p>
    <b>Observacoes</b>
    <%= @prontuario.observacao %>
  </p>
  
  <br />
  
  <h2>Registro de Emergência</h2>
  <table>
    <tr>
      <th>Data</th>
      <th>Causas</th>
      <th>Gravidade</th>
      <th>Localidade</th>
      <th></th>
    </tr>
 
  <% @registros.each do |registro| %>
    <tr>
      <td><%= registro.data %></td>
      <td><%= registro.causas %></td>
      <td><%= registro.gravidade %></td>
      <td><%= registro.localidadeEmergencia %></td>
    </tr>
  <% end %>
  </table>
  <br />
  <h2>Exames</h2>
  <table>
    <tr>
      <th>Data</th>
      <th>Laboratorio</th>
      <th>Resultado</th>
      <th>Tipo</th>
      <th></th>
      <th></th>
    </tr>
 
  <% @exames.each do |exame| %>
    <tr>
      <td><%= exame.data %></td>
      <td><%= exame.nomeDoLaboratorio %></td>
      <td><%= exame.resultado %></td>
      <td><%= exame.tipo %></td>
    </tr>
  <% end %>
  </table>
 
  <br />
  <h2>Prescricao</h2>
  <table>
    <tr>
      <th>Medicamento</th>
      <th>Dosagem</th>
      <th>Frequencia</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
 
  <% @medicamentos.each do |medicamento| %>
    <tr>
      <td><%= medicamento.nomeMedicamento %></td>
      <td><%= medicamento.dosagem %></td>
      <td><%= medicamento.frequencia %></td>
    </tr>
  <% end %>
  </table>
  
  
  <br />
  
<%= link_to 'Back', index_prontuario_path %>
