<h1>Selecionar veículo de saúde</h1>
<head>
	<meta charset="utf-8"/>

	<title>Google Maps</title>
	<style>
	#map {
		width: 512px;
		height: 512px;
	}
	</style>
</head>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

  var cidade = new google.maps.LatLng("-22.110134","-45.052872");
  var veiculos = new Array();
  
  <% @veiculos_de_saude.each do |veiculo|  %>
  veiculos.push([new google.maps.LatLng(<%= veiculo.latitude %>,<%= veiculo.longitude %>),<%= veiculo.ocupado %>,<%= veiculo.RENAVAM %>]);
  <% end %>
  
  var iterator = 0;

  var map;

  function initialize() {
    var mapOptions = {
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      center: cidade
    };

    map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
  }

  var markersArray = [];

  function drop() {
    for (var i = 0; i < veiculos.length; i++) {
      setTimeout(function() {
        addMarker();
      });
    }
  }
  
  function clearOverlays() {
  if (markersArray) {
    for (var i = 0; i < markersArray.length; i++ ) {
      markersArray[i].setMap(null);
    }
  }
  markersArray.splice(0,markersArray.length);
}

	var imageLivre = new google.maps.MarkerImage('assets/green_MarkerL.png');
	var imageOcupado = new google.maps.MarkerImage('assets/red_MarkerO.png');

  function addMarker() {
		var image;
	if(veiculos[iterator][1] == true)
		image = imageOcupado;
	else
		image = imageLivre;
    var marker = new google.maps.Marker({
				 position: veiculos[iterator][0],
				 map: map,
				 draggable: false,
				 icon: image,
				 title: "RENAVAM: " + veiculos[iterator][2] });
    
    markersArray.push(marker);

        google.maps.event.addListener(marker, 'click', function() {
						
			var ren = marker.title.slice(9);
			
			jQuery.ajax({
				data: ren,
				dataType: 'script',
				type: 'post',
				url: "/selecionar_veiculo/get_Status"
			});
						

			
			<% if @veiculo == nil %>
				alert("veiculo não encontrado!");
			<% end %>
			
			
			veiculos.splice(0,veiculos.length);
			
			<% @veiculos_de_saude.each do |veiculo|  %>
				veiculos.push([new google.maps.LatLng(<%= veiculo.latitude %>,<%= veiculo.longitude %>),<%= veiculo.ocupado %>,<%= veiculo.RENAVAM %>]);
			<% end %>
			
			iterator = 0;
			clearOverlays();
			drop();
			
        });
  
  iterator++;
  
}
  
  
 drop();
  
</script>
</head>
<body onload="initialize()">
<div id="map_canvas" style="width: 500px; height: 400px;">map div</div>

</body>
