<%= form_for ([@paciente, @registro_de_emergencium]) do |f| %>
  <% if @registro_de_emergencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registro_de_emergencium.errors.count, "error") %> Registro sem permissao de salvar:</h2>

      <ul>
      <% @registro_de_emergencium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :localidade %><br />
    <%= f.text_field :localidadeEmergencia %>
  </div>
  <div class="field">
    <%= f.label :gravidade %><br />
    <%= f.text_field :gravidade %>
  </div>
  <div class="field">
    <%= f.label :causas %><br />
    <%= f.text_area :causas %>
  </div>
  <div class="check_box">
	<%= f.label :redirecionar_para_consulta_virtual %>
	<%= f.check_box :consulta_virtual %>
  </div>
  <div class="check_box">
	<%= f.label :redirecionar_veiculo_de_emergencia %>
	<%= f.check_box :redireciona_veiculo %>
  </div>
    <%= f.submit "Armazenar Registro" %>
  </div>
<% end %>
