<p id="notice"><%= notice %></p>

<p>
	<b>Paciente:</b>
	<%= @paciente.nome %>
<p>

<p>
  <b>Data:</b>
  <%= @registro_de_emergencium.data %>
</p>

<p>
  <b>Localidade:</b>
  <%= @registro_de_emergencium.localidadeEmergencia %>
</p>

<p>
  <b>Gravidade:</b>
  <%= @registro_de_emergencium.gravidade %>
</p>

<p>
  <b>Causas:</b>
  <%= @registro_de_emergencium.causas %>
</p>


<%= link_to 'Editar', edit_paciente_registro_de_emergencium_path(@paciente, @registro_de_emergencium) %>

<% if @registro_de_emergencium.redireciona_veiculo == true %>
	</br></br>
	<%= button_to "Selecionar veiculo", selecionar_veiculo_path %>
<% end %>
