<!DOCTYPE html>
<html>
<head>
  <title>SAE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #E0FFFF;">

<div id="atendente_nav">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>

      <p><%= link_to 'Home', root_path %></p>

      <% if atendente_signed_in? -%>
        <div id="atendente_login_box" style="float:right">
          <%= 'Autenticado como #{current_atendente.nome}.' %> |
          <%= link_to 'Clique aqui para sair', destroy_atendente_session_path, :method => :delete %>
        </div>
      <% end -%>
      <% else if medico_signed_in? -%>
        <div id="medico_login_box" style="float:right">
          <%= 'Autenticado como #{current_medico.nome}.' %> |
          <%= link_to 'Clique aqui para sair', destroy_medico_session_path, :method => :delete %>
        </div>
      <% end -%>
      <div style="clear:both"></div>
</div>

<%= yield %>

</body>
</html>
