<!DOCTYPE html>
<html>
<head>
  <title>SAE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #F3F3F3;">

<%= image_tag "sistema_de_atendimento_emergencial.png", {:height => "20%", :width => "20%"} %>

<div id="pessoa_nav">
	
      <% if pessoa_signed_in? -%>
        <div id="pessoa_login_box" style="float:right">
          Autenticado como
          <% if medico? -%>
            Dr.
          <% end -%>
          <%= current_pessoa.nome %>.
          <%= link_to 'Clique aqui para sair.', destroy_pessoa_session_path, :method => :delete %>
        </div>
      <% end -%>
      <div style="clear:both"></div>
</div>

<%= yield %>

</body>

</html>
