<!DOCTYPE html>
<html>
<head>
  <title>SAE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;">

<div id="user_nav">
	<% if pessoa_signed_in? %>
		Logado como <%= current_pessoa.email %>.
		<%= link_to "Sair", destroy_pessoa_session_path, :method => :delete %> 
	<% else %>
		<%= link_to "Cadastrar-se", new_pessoa_registration_path %> ou <%= link_to "Entrar", new_pessoa_session_path %>
	<% end %>
</div>

<%= yield %>

</body>
</html>
